*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

:root {
    --blue: #2b1dc8;
    --winning-blocks: #b91d9c;

}


body {
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
    border-radius: 10%;


}
h1 {
    font-size: 54px;
    text-transform: uppercase;

}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(148, 148, 229);

}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    color: rgb(189, 28, 33);
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-radius: 5%;
    border-style: solid;

}
.box:nth-child(3n) {
    border-bottom: solid;
    border-right: solid;

}
.box:nth-child(6) ~ .box {
    border-bottom: solid;
}
button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #a00fe3;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
    border-style: solid;

}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    border-style: solid;

}
#main {
    text-align : center;

}
